.ks-dropdown {
  display: none;
  position: absolute;
  z-index: 9000;
  &.show {
    display: block;
  }
  .octicon {
    color: $brand-gray-light;
  }
}
.ks-dropdown#usernav {
  right: 1rem;
  top: 45px;
  width: 160px;
}
