// Gloabls
$background-color: #EFF0F5;
$border: #e7e7ea;
$container-width: 100% !default;
$grid-gutter:     10px !default;

// Navbar
$nav-primary-back: #53607d;
$nav-primary-color: #dadce1;
$nav-primary-color-hover: #fff;
$nav-primary-active: #3c415f;
$nav-break: 600px; // below this viewport width, only nav icons are shown

// Subnav
$subnav-back: #fff;
$subnav-color: #a0a6b4;
$subnav-active: #e7e7eA;

// Border Radius
$border-radius: 3px;

// Panels
$panel-header-back: #f8f9fb;

// Tables
$td-padding-top: 10px;
$td-padding-bottom: $td-padding-top;
$td-padding-left: 10px;
$td-padding-right: $td-padding-left;

// Brand colors
$link-blue:        #4078c0 !default;
$brand-blue:       #53607d !default;
$brand-gray-light: #999    !default;
$brand-gray:       #666    !default;
$brand-gray-dark:  #333    !default;
$brand-green:      #6cc644 !default;
$brand-red:        #bd2c00 !default;
$brand-orange:     #f93    !default;
$brand-purple:     #6e5494 !default;

// Font stack
$body-font: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;

// The base body size
$body-font-size: 14px !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

// State indicators.
$status-open:     $brand-green;
$status-closed:   $brand-red;
$status-reverted: $status-closed;
$status-merged:   $brand-purple;
$status-renamed:  #fffa5d;
$status-pending:  #cea61b;

// Repository type colors
$repo-private-text: #a1882b;
$repo-private-bg:   #fff9ea;
$repo-private-icon: #e9dba5;
