<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
      Templates &middot; Dojo
    </title>

    <link rel="stylesheet" href="/docs.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-precomposed.png">
    <link rel="icon" href="/favicon.ico">
    <script src="/js/jquery.1.11.1.js"></script>
    <script src="/js/transition.js"></script>
    <script src="/js/button.js"></script>
    <script src="/js/collapse.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/tab.js"></script>
  </head>
  <body>

    <header class="masthead">
      <div class="container">
        <a href="/" class="masthead-logo">
          <span class="ki-stack dojo-logo">
            <i class="ki-norman-head ki-stack-2x"></i>
            <i class="ki-norman-band ki-stack-2x"></i>
          </span>
          Dojo
        </a>

        <nav class="masthead-nav">
          <a href="/scaffolding">Docs</a>
          <a href="/about">About</a>
          <a href="https://github.com/kickserv/dojo" target="_blank">GitHub</a>
          <a href="https://github.com/kickserv/dojo/blob/master/README.md#install" target="_blank">Install</a>
        </nav>
      </div>
    </header>

    

    <div class="container">
      <div class="columns docs-layout">
  <div class="one-fourth column">
    
      <nav class="menu docs-menu">
  <a class="menu-item " href="/scaffolding/">
    Scaffolding
  </a>
  <a class="menu-item " href="/layout/">
    Layout
  </a>
  <a class="menu-item " href="/type/">
    Type
  </a>
  <a class="menu-item " href="/tables/">
    Tables
  </a>
  <a class="menu-item " href="/buttons/">
    Buttons
  </a>
  <a class="menu-item " href="/forms/">
    Forms
  </a>
  <a class="menu-item " href="/nav/">
    Navigation
  </a>
  <a class="menu-item " href="/alerts/">
    Alerts
  </a>
  <a class="menu-item " href="/panels/">
    Panels
  </a>
  <a class="menu-item " href="/blankslate/">
    Blankslate
  </a>
  <a class="menu-item " href="/avatars/">
    Avatars
  </a>
  <a class="menu-item " href="/states/">
    States
  </a>
  <a class="menu-item " href="/tooltips/">
    Tooltips
  </a>
  <a class="menu-item " href="/modals/">
    Modals
  </a>
  <a class="menu-item " href="/utilities/">
    Utilities
  </a>
  <a class="menu-item " href="/icons/">
    Icons
  </a>

</nav>

<nav class="menu docs-menu">
  <a class="menu-item " href="/guidelines/">
    Code guidelines
  </a>
  <a class="menu-item " href="/colors/">
    Colors
  </a>
  <a class="menu-item selected" href="/templates/">
    Templates
  </a>
</nav>

    
  </div>
  <div class="three-fourths column markdown-body">
    <h1 class="page-title">
      Templates
    </h1>
    <div class="markdown-body">
      <p>Best practices and guidelines for writing HTML and CSS with approachable formatting, syntax, and more.</p>

<h2 id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#contents">Contents</a></li>
  <li><a href="#rails-layout">Rails Layout</a></li>
</ul>

<h2 id="rails-layout">Rails Layout</h2>

<p>This is a master layout for use in Kickserv. The navbar can be easily switched from horizontal to vertical by adding and removing <code>.vertical</code> from the <code>.grid-frame</code>.</p>

<p><strong>Note:</strong> Adding <code>.vertical</code> makes the navbar <em>horizontal</em>, since the <code>.vertical</code> class tells the contained <code>.grid-block</code> divs to be stacked <em>vertically</em>. Confusing, I know.</p>

<div class="highlight"><pre><code class="language-erb" data-lang="erb"><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="nt">&lt;html</span> <span class="na">lang=</span><span class="s">"en"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;head&gt;</span>
    ...
  <span class="nt">&lt;/head&gt;</span>

  <span class="c">&lt;!-- Add or remove .navbar-top to body to toggle horizontal navbar--&gt;</span>
  <span class="nt">&lt;body&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"grid-frame"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"navbar"</span><span class="nt">&gt;</span>
        ...
      <span class="nt">&lt;/div&gt;</span>

      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"grid-block vertical"</span> <span class="na">id=</span><span class="s">"content"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"subnav"</span><span class="nt">&gt;</span>
          ...
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"grid-block"</span><span class="nt">&gt;</span>
          ...
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span></code></pre></div>


    </div>
  </div>
</div>


      <footer class="footer">
        Copyright Kickserv 2015.<br>
        Created and maintained by the CSS team at Kickserv. <strong>Currently v0.3.4.</strong>
      </footer>
    </div>

    <script src="/js/anchor.min.js"></script>
    <script>
      var selector = '.markdown-body h2, .markdown-body h3';
      addAnchors(selector);
    </script>

  </body>
</html>
